.aboutus{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3em;
    padding-top: 2em;
    background-color: rgb(207, 211, 158);
    text-align: center;
    width: 100%;
    height: 58vh; 
}


div {
    overflow: hidden;
}

