.headerContainer ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    background-color: rgb(207, 211, 158);
    /* border-bottom: var(--borderLine); */
}

.headerContainer ul a {
    text-decoration: none; 
    color: inherit;
    cursor: pointer;
    background-color: rgb(207, 211, 158);
  }
  

.headerContainer div{
    display: flex;
    justify-content: space-between;
    padding: 1em 4em 0 4em;
    background-color: rgb(207, 211, 158);

}

.headerContainer li{
    transition: all .3s;
    padding: 5px;
    margin: 0;
}

.ingresar p{
    margin: 0;
    height: fit-content;
    margin: .5em;
    padding: 5px;
    transition: all .3s;
}

.headerContainer li:hover,
.ingresar p:hover{
    border-radius: 30px;
    cursor: pointer;
}


.fa-cart-shopping{
    margin-left: .5em;
}

.headerContainer .logo{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: .5em;
    width: auto;
    height: 100%;
    color: rgb(0, 0, 0);
    padding: .6em;
}

.headerContainer .logo img{
    width: 2em;
}
.headerContainer .logo p{
    margin: 0;
    font-weight: 900;
}
.logo .fa-shop{
    height: 10%;
    width: 10%;
}