.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3em;
    padding: 1.5em;
    background-color: rgb(207, 211, 158);
    color: rgb(0, 0, 0);
    width: auto;
    transition: all .3s;
}

.footer a{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

