@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
:root {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;  
  color: rgba(1, 1, 1, 0.87);
  background-color: #ffffff;
  --borderLine: 1px solid rgba(128, 128, 128, 0.429);
  --bgColor: rgba(255, 255, 255, 0.5);
}
body{
  margin: 0;
  background-color: rgb(207, 211, 158);
}
