.productSectionContainer{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 211, 158);
}

.productSection {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3em;
    max-width: 90%;
   background-color: rgb(207, 211, 158);
}

