.productSectionContainer{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productSection {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: var(--borderLine);
    margin-top: 3em;
    max-width: 90%;
}

